:root{
  --primary: #E0E0E0;
  --light: #AAAE8E;
  --gray: #828E82;
  --medium: #607B7D;
  --dark: #3A606E;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--primary);
  font-family: 'Noto Sans', sans-serif;
    color: var(--dark);
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    margin: 0;
    padding: 0;

}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  width: 100%;
  justify-content: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
}

nav a:hover {
  color: var(--light);
  background-color: var(--dark);
}

