:root{
  --primary: #E0E0E0;
  --light: #AAAE8E;
  --gray: #828E82;
  --medium: #607B7D;
  --dark: #3A606E;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--primary);
  font-family: 'Noto Sans', sans-serif;
    color: var(--dark);
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    margin: 0;
    padding: 0;

}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
}

nav a:hover {
  
}

.container.flex-row.justify-space-between-lg.justify-center.align-center {
  display:flex;
  justify-content: space-between;
}

.btn {
  padding: 0.25em 1em;
  border-radius: 0.25em;
  border-color: black;
  background-color: #E0E0E0;
}